.bold{
    font-weight: bold;
}

li.menu{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;

    color: rgb(161,14,167)
}

a:visited{
    color:green;
}

a:hover{
    background:orange;
    color:black;
    text-decoration: underline;
}

h1:hover{
   color: black;
}
    


.bgRED{

    color:red;
}

.strong {
    font-weight: 400;

}
.red{
    color:rgb(0, 153, 255);
}
.text-center {
    text-align: center
}
